{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Новости{% endblock %}

{% block content %}
<font size="5">
    <div class="features">
        <h1>Новости кафедры</h1>
        <a href="{% url 'news:create' %}"><button class="btn btn-warning"><i class="fas fa-plus-circle"></i>Создать доску</button></a>
        <newsb>
            <img src="{% static 'main/img/news_background.png' %}" alt="news_background">
        </newsb>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <a href="{% url 'news:news-detail' el.id %}" class="btn btn-warning">Читать подробнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Новостей нет!</p>
        {% endif %}
    </div>
</font>

{% endblock %}

