{% extends 'main/layout.html'%}

{% block title %} Cookie-Chan {% endblock %}

{% block content %}
    <div class="features">
        <h1>Cookie-Chan</h1>
        <b>Ты снова дома.</b>
        <p></p>
        <h2>Здесь перечислен общий свод каждой темы:</h2>
        <p>1) <ins>Все доски</ins>, общая инфа про все доски из любых тем присутствующих на сайте.
            <p></p>
            <br>2)Доска с <ins>новостями</ins>, в ней будут отображаться все новости, которые запостили аноны или админ, о случившимся за последнее время в мире.
            <p></p>
            <br>3)<ins>Игры</ins>, здесь будут доски с рецензиями на игры, а так же торренты и новости из game dev индустрии. Ссылки на магазины где можно купить подешевле игры и прочее.
            <p></p>
            <br>4)<ins>Soft</ins>, будет существовать для того что бы помочь людям в их вопросах в сфере IT, для получения советов по сборке ПК или как разобрать утюг.
            <p></p>
            <br>5)Доска <ins>готовка</ins>, люди будут делиться рецептами, как приготовить что-то из говна и палок, как не сдохнуть с голода и где продаются сырки по 12 рублей.
            <p></p>
            <br>6)<ins>Разное</ins>, здесь нет каких-то правил, просто месиво из всего что приходит в голову.

        </p>
        <h3>Общие правила (за исключением <ins>разное</ins>):</h3>
        <p>1)Не флудить в тредах.
            <p></p>
            <br>2)Не оскорблять без надобности.
            <p></p>
            <br>3)Не постить инфу не по теме.
            <p></p>
            <br>4)Не кидать шок-контент, рассчленёнку, порнографию и прочее.
            <p></p>
            <br>5)Единственная доска, которая не поддаётся правилам это <ins>РАЗНОЕ</ins>.

        </p>

    </div>
{% endblock %}