{% extends 'main/layout.html'%}

{% load static %}

{% block title %}MGMSU{% endblock %}

{% block content %}
<font size="5">
    <div class="features">
        <h1>Кафедра лечебное дело</h1>
        <br>
        <p></p>
        <h2>Здесь перечислен общий свод каждой темы:</h2><br>
            <p>1) <ins>Главная</ins>, общая информация про все доски из любых тем, присутствующих на сайте.
            <p></p>
            <br>2) Доска с <ins>новостями</ins>, на которой будут отображаться все новости, которые запостил администратор, о происходящем на нашеё кафедре и в институте.
            <p></p>
            <br>3) <ins>Научные статьи</ins>, все научные тезисы и работы выложенные преподователем или студентами будут публиковаться здесь.
            <p></p>
            <br>4) <ins>Домашние задание</ins>, сюда выкладываются задание на будущую неделю.
            <p></p>
            <br>5) Доска <ins>обсуждение</ins>, здесь можно спросить про ранее упомянутые топики.
            <p></p>
        </p>
         <back>
             <img src="{% static 'main/img/home_background.png' %}" alt="background">
         </back>
        </p>
    </div>
</font>
{% endblock %}