{% extends 'main/layout.html'%}

{% load static %}

{% block title %}Cookie-Chan{% endblock %}

{% block content %}
<font size="4">
    <div class="features">
        <h1>{{ title }}</h1>
        <b>Ты снова дома.</b>
        <p></p>
        <h2>Здесь перечислен общий свод каждой темы:</h2><br>
            <p>1) <ins>Главная</ins>, общая информация и свод маленьких правил про все доски из любых тем, присутствующих на сайте.
            <p></p>
            <br>2) Доска с <ins>новостями</ins>, на которой будут отображаться все новости, которые запостили аноны или администраторы, о происходящем за последнее время в мире.
            <p></p>
            <br>3) <ins>Игры</ins>, здесь будут доски с рецензиями на игры и новости из игровой индустрии. Будут представлены ссылки на магазины, где можно купить игры по более низкой цене и прочее.
            <p></p>
            <br>4) <ins>Soft</ins>, будет существовать для оказания помощи людям в вопросах, связанных с IT-сферой: по сборке ПК или разборке утюга, например.
            <p></p>
            <br>5) Доска <ins>готовка</ins>, где люди будут делиться рецептами, как приготовить свои блюда, как не оказаться голодными и где продаются сырки по 12 рублей.
            <p></p>
        </p>
         <back>
             <img src="{% static 'main/img/home_background.png' %}" alt="background">
         </back>
        <br>
        <h3>Общие правила:</h3><br>
        <p>1) Не флудить в тредах.
            <p></p>
            <br>2) Не использовать ненормативную лексику в тредах.
            <p></p>
            <br>3) Не публиковать информацию, не относящуюся к теме.
            <p></p>
        </p>
    </div>
</font>
{% endblock %}